body {
  font-family: "Barlow", sans-serif;
  background: #FAFAFA;
  overflow-x: hidden;
}

.container {
  padding: 20px 10px;
  max-width: 360px;
  margin: auto;
}

.logo {
  margin-bottom: 20px;
  margin-left: 10px;
}

.gsc-search-box {
  background: #fff;
  border-radius: 6px;
}
.gsc-input-box {
  border: none !important;
  padding: 16px;
}
.gsc-input-box input {
  font-size: 16px;
  color: #2B2F39;
  font-weight: 500;
}
.gsc-search-button-v2 {
  background: #fff !important;
  border: none !important;
  cursor: pointer !important;
  padding: 6px !important;
}
.gsc-search-button-v2 svg {
  fill: #3079ed !important;
  width: 16px;
  height: 16px;
  padding: 16px;
}
.gsc-search-button-v2:hover {
  background: #fff;
}
.gsc-control-cse {
  padding: 0;
  margin: 16px 0 !important;
  border-radius: 6px;
  width: 100% !important;
  background: none !important;
  border: none !important;
}
.gsc-control-cse .gsc-thumbnail-inside {
  position: absolute;
  top: 8px;
  left: 156px;
}
.gsc-control-cse .gsc-thumbnail-inside .gs-title {
  color: #2B2F39 !important;
  font-family: "Barlow";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0025em;
  max-width: 175px;
}
.gsc-above-wrapper-area {
  display: none !important;
}
.gsc-results {
  max-width: 100% !important;
  padding: 0 !important;
}
.gsc-results .gsc-webResult.gsc-result {
  border: none;
  background: #fff;
  border-radius: 6px;
  margin: 10px 0 !important;
  padding: 8px 0;
  position: relative;
}

.gs-image {
  width: 132px;
  max-width: 132px !important;
  height: 74px !important;
  border-radius: 6px;
  object-fit: cover;
}
.gs-visibleUrl, .gs-snippet, .gs-watermark {
  display: none !important;
}